/*=============================================
=                  General                    =
=============================================*/

* {
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

button:focus {
    outline: none;
}

/* .btn-primary {
    background-color: red;
} */

/*=============================================
=                  Navbar                     =
=============================================*/

.navbar {
    box-shadow: 0 3px 18px rgba(0, 0, 0, .11);
}

/*=============================================
=                  Header                     =
=============================================*/
#header {
    background-image: url('../img/headerImage.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    /* 讓圖片固定在後方 */
    background-attachment: fixed;
    padding: 200px 0px;
    /* filter: brightness(0.5); */
    position: relative;
    margin-bottom: 0px;
}

#header:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgb(0, 0, 0);
    opacity: .5;
    z-index: 1;
}

#header>.container {
    position: relative;
    z-index: 2;
}

/*=============================================
=                  Intro                      =
=============================================*/

/*=============================================
=                  Features                   =
=============================================*/

/*=============================================
=                  Reviews                    =
=============================================*/

/*=============================================
=                  Gallery                    =
=============================================*/

/* TODO: 設定Hover特效 */
/* 屬性選擇器 */
/* 選擇id開頭是galleryImage的元素 */
[id^='galleryImage'] {
    background-size: cover;
    height: 220px;
    filter: grayscale(100%);
    transition: all .5s ease-out;
}

[id^='galleryImage']>.gallery-text {
    color: white;
    font-size: 6px;
    opacity: 0;
    line-height: 220px;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .5);
    text-align: center;
    transition: all .2s cubic-bezier(0.99, 2.47, 0.98, 2.06);
    transition-delay: .3s;
}

[id^='galleryImage']:hover {
    filter: grayscale(0%);
}

[id^='galleryImage']:hover>.gallery-text {
    font-size: 22px;
    opacity: 1;
}

/* 放入背景圖片 */
#galleryImage1 {
    background-image: url('../img/1.專利.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#galleryImage2 {
    background-image: url('../img/2.金牌.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#galleryImage3 {
    background-image: url('../img/3.img16.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

#galleryImage4 {
    background-image: url('../img/4.img48.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#galleryImage5 {
    background-image: url('../img/5.c++基礎.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#galleryImage6 {
    background-image: url('../img/6.c++進階.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#galleryImage7 {
    background-image: url('../img/7.c++leetcode進階解題.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#galleryImage8 {
    background-image: url('../img//8.c++初階解題.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#galleryImage9 {
    background-image: url('../img/9.c++演算法.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#galleryImage10{
    background-image: url('../img/10.html初階.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#galleryImage11 {
    background-image: url('../img/11.html進階.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#galleryImage12 {
    background-image: url('../img/12.img101C++leetcode初階解體.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#galleryImage13 {
    background-image: url('../img/13.img101sql.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#galleryImage14 {
    background-image: url('../img/14.react.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#galleryImage15 {
    background-image: url('../img/15.java基礎.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#galleryImage16 {
    background-image: url('../img/16.java進階.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#galleryImage17 {
    background-image: url('../img/17.演算法實戰班.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#galleryImage18 {
    background-image: url('../img/18.python初階.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#galleryImage19 {
    background-image: url('../img/28.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/*=============================================
=                  Start Now                  =
=============================================*/

/*=============================================
=                   Footer                    =
=============================================*/

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-end p {
    font-size: 8px;
    margin: 0;
}

#goBackBtn {
    width: 40px;
    height: 40px;
    border:none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1000;
    border-radius: 50%;
}